<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <main>
    <h1>my accounts</h1>
    <table>

      <thead>
        <tr>
          <th>name</th>
          <th>number</th>

          <th>number of receipts</th>
        </tr>
      </thead>
  <tbody>
    {% for i in account_list %}
      <tr>
        <td>{{ i.name }}</td>
        <td>{{ i.number }}</td>
        <td>{{ i.receipts.all|length }}</td>

      </tr>
      {% endfor %}
    </tbody>
  </table>
  </main>
</body>
</html>
